@model IEnumerable<MarJuz.FaceRec.DataEntities.Entities.UploadPhoto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<br /> <br /> 

<div>
    <iframe src="http://docs.google.com/gview?url=https://s3-eu-west-1.amazonaws.com/marjuz/8.pdf&embedded=true"
            style="width:800px; height:1000px;" frameborder="0"></iframe>
</div>