<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/Content/layout.css">
</head>
<body style="background-image: url(/images/random_grey_variations.png); ">
   
    <div id="container">
        <div id="header">
            <h1 id="textheder">VEIDŲ NUOTRAUKOSE ATPAŽINIMO PROGRAMA</h1>
            <p id="textheder">ASP.NET</p>
            <p></p>
        </div>
        <div id="menu">
            <ul class="navbar">
                <li><a href="/home/index/">Apie</a>
                <li><a href="/Create/create/">Įkelti nuotraukas</a>
                <li><a href="/FaceRec/Start/">Rasti veidus</a>
                <li><a href="/photo/index/">Nuotraukų sarašas</a>
                <li><a href="/Face/index/">Veidų sarašas</a>
          </ul>
            <ul>
            <li id="emty">
                @using (Html.BeginForm())
                {@Html.TextBox("SearchString")<input type="submit" value="Search" />}           
            </ul>

</div> 
  
        <div id="main">
            @RenderBody()
        </div>
        
        <div id="footer">
            <p> Martynas Juzaitis @DateTime.Now.Year Programavimo praktika .Net</p>
        </div>
    </div>
  
           

 </body>
</html>
